.width74 {
  width: 74px;
  height: 27px;
  font-family: "Poppins" sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}
.width281 {
  width: 281px;
  height: 54px;
}
.h2 {
  width: 225px;
  height: 50px;
  color: white;
  background-color: #023202;
  border-radius: 100px;
  font-size: 20px;
  align-items: center;
  padding: 10px;
  margin-bottom: 40px;
}
